
**pycache**/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv/
venv/
ENV/
env/
instance/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.dmypy.json
.pyre/
.ruff_cache/
pip-log.txt


node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.cache/

.docker/
*.tar

kubeconfig
*.kubeconfig


*.log
logs/

